

#boxes {
    width: 1450px;
    height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
}
.box {
    width: 200px;
    height: 200px;
    background-color: rgb(36, 36, 36);
    margin: 50px;
}

.lightMode {
    background-color: rgb(160, 160, 160);
}